body, html {
margin:0px; 
padding:0px;
text-align:center; 
}
#container{
margin:0 auto; 
text-align:left;
min-width:550px;
width:expression( 
(document.compatMode && document.compatMode == 'CSS1Compat')
?
(
document.documentElement.clientWidth < 550
?
"550px"
:
"auto"
)
:
(
document.body.clientWidth < 550
?
"550px"
:
"auto"
)
);
}

#header{
background-color:#63b9da;
}
#header h1 {
margin: 0; 
padding: 10px 0;
}

#left{
background-color:#a9d28c;
width:150px;  
float:left;  
}


#content{
background-color:#d5d7b5;
margin:0px; 
margin-left:152px; 
}
#content h1 {
margin:0px; 
} 
#content p {
margin:0px; 
padding:5px; 
}

#clear{
height:0;
font-size:1px;
line-height:0px;
clear:both;
}

#footer{
background-color:#d292bc;
}
#footer p{
margin:0px;  
padding: 10px 0; 
}
